#select2-primaryOwnerId-sk-results {
    max-height: 500px !important;
    overflow-y: auto;
}

#select2-primaryOwnerId-sk-results .select2-results__option {
    padding: 10px !important;
    border: 1px solid #e2e5ec;
    border-radius: 5px;
    margin: 10px;
}

.select2-selection__clear::after {
    content: ' Clear';
}