.citizen-profile-search-results {
    padding: 10px;
    border: 1px solid #e2e5ec;
    border-radius: 5px;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 500px;
    overflow-y: auto;
}

.select2-selection__clear::after {
    content: ' Clear';
}