.structural-roof-checklist .form-check {
    display: inline-block;
    width: 23%;
}

/* .propertyListHeader div,
.propertyListItem div {
    border: 1px solid #eee;
    text-align: center;
}

.propertyListHeader div h6 {
    margin: 5px 0px;
    font-weight: 600;
} */

/* .propertyListItem {
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 0px;
}

.propertyListWrapper {
    overflow-y: scroll;
    height: 500px;
} */